# Creating 3 different sheets to compute the Total Units and Total Volume Sold

In [1]:
import pandas as pd
sheet1 = pd.read_csv('All_Channel_Sales_Units.csv')
sheet1

       Year    Channel               Sku Merged Sku Month  Units Brand_Flag
0      2017  CHANNEL 3  7-DAY-BETA-CARDS              Jan    0.0        ABC
1      2017  CHANNEL 3  7-DAY-BETA-CARDS              Feb    0.0        ABC
2      2017  CHANNEL 3  7-DAY-BETA-CARDS              Mar    0.0        ABC
3      2017  CHANNEL 3  7-DAY-BETA-CARDS              Apr    0.0        ABC
4      2017  CHANNEL 3  7-DAY-BETA-CARDS              May    0.0        ABC
...     ...        ...               ...        ...   ...    ...        ...
70417  2019  CHANNEL 8          DS-CREAM   DS-CREAM   Aug    0.0        ABC
70418  2019  CHANNEL 8          DS-CREAM   DS-CREAM   Sep    0.0        ABC
70419  2019  CHANNEL 8          DS-CREAM   DS-CREAM   Oct    0.0        ABC
70420  2019  CHANNEL 8          DS-CREAM   DS-CREAM   Nov    0.0        ABC
70421  2019  CHANNEL 8          DS-CREAM   DS-CREAM   Dec    0.0        ABC

[70422 rows x 7 columns]

In [2]:
sheet = sheet1.drop(sheet1[sheet1.Units <= 0.0].index)

In [3]:
sheet

,Year,Channel,Sku,Merged Sku,Month,Units,Brand_Flag
84,2017,CHANNEL 3,BLOT,BLOT,Jan,25.000000,ABC
86,2017,CHANNEL 3,BLOT,BLOT,Mar,56.000000,ABC
87,2017,CHANNEL 3,BLOT,BLOT,Apr,38.000000,ABC
88,2017,CHANNEL 3,BLOT,BLOT,May,42.000000,ABC
672,2017,CHANNEL 3,ESSENCE,ESSENCE,Jan,2015.497971,ABC
...,...,...,...,...,...,...,...
70401,2019,CHANNEL 8,SKIN-MIST-TRAVEL-V2,SKIN-MIST-TRAVEL-V2,Apr,280.000000,ABC
70402,2019,CHANNEL 8,SKIN-MIST-TRAVEL-V2,SKIN-MIST-TRAVEL-V2,May,192.000000,ABC
70412,2019,CHANNEL 8,DS-CREAM,DS-CREAM,Mar,92.000000,ABC
70413,2019,CHANNEL 8,DS-CREAM,DS-CREAM,Apr,505.000000,ABC
70414,2019,CHANNEL 8,DS-CREAM,DS-CREAM,May,84.000000,ABC

In [4]:
sheet.to_excel('All_Channel_Sales_Units_modified.xlsx', sheet_name='sheet11', index=False)

In [8]:
import pandas as pd
sheet2 = pd.read_csv('All_Channel_Sales_Volume.csv')
sheet2 = sheet2.drop(sheet2[sheet2.Volume <= 0.0].index)
sheet2

,Year,Channel,Sku,Merged Sku,Month,Volume,Brand_Flag
84,2017,CHANNEL 3,BLOT,BLOT,Jan,300.00,ABC
86,2017,CHANNEL 3,BLOT,BLOT,Mar,672.00,ABC
87,2017,CHANNEL 3,BLOT,BLOT,Apr,456.00,ABC
88,2017,CHANNEL 3,BLOT,BLOT,May,504.00,ABC
672,2017,CHANNEL 3,ESSENCE,ESSENCE,Jan,173796.39,ABC
...,...,...,...,...,...,...,...
70367,2019,CHANNEL 1,MAGNOLIA-LIP-TRIO,MAGNOLIA-LIP-TRIO,May,25925.00,ABC
70378,2019,CHANNEL 1,PR-PP-NORM-OILY,PR-PP-NORM-OILY,Apr,112.00,ABC
70390,2019,CHANNEL 1,SATIN-MIST,SATIN-MIST,Apr,192.00,ABC
70391,2019,CHANNEL 1,SATIN-MIST,SATIN-MIST,May,26731.20,ABC
70402,2019,CHANNEL 1,PEONY-LIP,PEONY-LIP,Apr,55.00,ABC

In [74]:
sheet2.to_excel('All_Channel_Sales_Volume_modified.xlsx', sheet_name='sheet12', index=False)

In [59]:
sheet3 = pd.merge(sheet, sheet2, on='Sku', how='outer')

In [60]:
sheet3 = pd.DataFrame(sheet3.drop(['Year_x', 'Channel_x', 'Brand_Flag_x' , 'Year_y' , 'Channel_y' , 'Merged Sku_y','Month_y','Brand_Flag_y' ], axis = 1))

In [63]:
sheet3.isnull().sum()
sheet3.Volume.fillna(value = 1,
          inplace = True)
sheet3.Units.fillna(value = 1,
          inplace = True)
# sheet3.drop

In [67]:
sheet3.dropna(axis = 0,inplace = True)

In [68]:
sheet3.isnull().sum()

Sku             0
Merged Sku_x    0
Month_x         0
Units           0
Volume          0
dtype: int64

In [69]:
Total_Products_Sold = list(sheet3.Units)
units = list(sheet3.Units)
Volume = list(sheet3.Volume)
for i in range(len(Total_Products_Sold)):
    Total_Products_Sold[i] = round((units[i]*Volume[i]),3)
#     Total_Products_Sold.append(round(Tot,3))

In [70]:
Total_Products_Sold

[7500.0,
 16800.0,
 11400.0,
 12600.0,
 243224.95,
 222700.0,
 273937.6,
 176414.7,
 172461.425,
 192375.75,
 177587.8,
 141002.475,
 143475.0,
 145500.0,
 132275.0,
 23400.0,
 20700.0,
 13200.0,
 25200.0,
 27000.0,
 36600.0,
 63900.0,
 9600.0,
 27000.0,
 11100.0,
 15300.0,
 19800.0,
 6300.0,
 11400.0,
 19800.0,
 14100.0,
 11100.0,
 2100.0,
 5700.0,
 11400.0,
 15300.0,
 8100.0,
 3300.0,
 11700.0,
 300.0,
 375.0,
 1500.0,
 503205.25,
 459825.0,
 685569.25,
 850140.25,
 642080.5,
 908631.75,
 758702.0,
 803121.0,
 949450.0,
 661125.0,
 934300.0,
 771325.0,
 82200.0,
 34200.0,
 39600.0,
 26700.0,
 34200.0,
 78300.0,
 39000.0,
 57000.0,
 54000.0,
 37200.0,
 106500.0,
 64200.0,
 7625.0,
 33715.476,
 28255.162,
 19725.0,
 41900.0,
 29575.0,
 19725.0,
 83157.334,
 100900.0,
 104245.845,
 86862.283,
 70147.832,
 130738.656,
 105669.22,
 95630.166,
 122500.0,
 110275.0,
 118375.0,
 180925.0,
 16800.0,
 7500.0,
 19200.0,
 24600.0,
 30000.0,
 36900.0,
 57300.0,
 15900.0,
 14700.0,
 9300.0,
 13800.0,
 26100.0,
 5700.0,
 6900.0,
 13200.0,
 7200.0,
 15300.0,
 9600.0,
 9300.0,
 4800.0,
 22500.0,
 9900.0,
 7200.0,
 7525.0,
 900.0,
 300.0,
 462686.75,
 506800.0,
 767066.75,
 1031248.5,
 579881.75,
 792461.5,
 634949.25,
 881868.75,
 1031100.0,
 744025.0,
 1033800.0,
 1005375.0,
 43200.0,
 31200.0,
 56700.0,
 33889.75,
 21300.0,
 57300.0,
 31800.0,
 36600.0,
 41400.0,
 30000.0,
 58500.0,
 40800.0,
 14545.085,
 11075.0,
 18524.488,
 24822.314,
 18218.369,
 121058.056,
 123050.0,
 160507.767,
 99348.266,
 100703.577,
 29400.0,
 17400.0,
 8100.0,
 18000.0,
 9600.0,
 300.0,
 300.0,
 575151.0,
 683450.0,
 1039975.25,
 991787.0,
 1366668.25,
 50400.0,
 39000.0,
 34500.0,
 27900.0,
 27900.0,
 16800.0,
 37632.0,
 25536.0,
 28224.0,
 544823.888,
 498848.0,
 613620.224,
 395168.928,
 386313.592,
 430921.68,
 397796.672,
 315845.544,
 321384.0,
 325920.0,
 296296.0,
 52416.0,
 46368.0,
 29568.0,
 56448.0,
 60480.0,
 81984.0,
 143136.0,
 21504.0,
 60480.0,
 24864.0,
 34272.0,
 44352.0,
 14112.0,
 25536.0,
 44352.0,
 31584.0,
 24864.0,
 4704.0,
 12768.0,
 25536.0,
 34272.0,
 18144.0,
 7392.0,
 26208.0,
 672.0,
 840.0,
 3360.0,
 1127179.76,
 1030008.0,
 1535675.12,
 1904314.16,
 1438260.32,
 2035335.12,
 1699492.48,
 1798991.04,
 2126768.0,
 1480920.0,
 2092832.0,
 1727768.0,
 184128.0,
 76608.0,
 88704.0,
 59808.0,
 76608.0,
 175392.0,
 87360.0,
 127680.0,
 120960.0,
 83328.0,
 238560.0,
 143808.0,
 17080.0,
 75522.666,
 63291.562,
 44184.0,
 93856.0,
 66248.0,
 44184.0,
 186272.428,
 226016.0,
 233510.694,
 194571.514,
 157131.145,
 292854.59,
 236699.052,
 214211.572,
 274400.0,
 247016.0,
 265160.0,
 405272.0,
 37632.0,
 16800.0,
 43008.0,
 55104.0,
 67200.0,
 82656.0,
 128352.0,
 35616.0,
 32928.0,
 20832.0,
 30912.0,
 58464.0,
 12768.0,
 15456.0,
 29568.0,
 16128.0,
 34272.0,
 21504.0,
 20832.0,
 10752.0,
 50400.0,
 22176.0,
 16128.0,
 16856.0,
 2016.0,
 672.0,
 1036418.32,
 1135232.0,
 1718229.52,
 2309996.64,
 1298935.12,
 1775113.76,
 1422286.32,
 1975386.0,
 2309664.0,
 1666616.0,
 2315712.0,
 2252040.0,
 96768.0,
 69888.0,
 127008.0,
 75913.04,
 47712.0,
 128352.0,
 71232.0,
 81984.0,
 92736.0,
 67200.0,
 131040.0,
 91392.0,
 32580.99,
 24808.0,
 41494.853,
 55601.984,
 40809.147,
 271170.046,
 275632.0,
 359537.399,
 222540.116,
 225576.012,
 65856.0,
 38976.0,
 18144.0,
 40320.0,
 21504.0,
 672.0,
 672.0,
 1288338.24,
 1530928.0,
 2329544.56,
 2221602.88,
 3061336.88,
 112896.0,
 87360.0,
 77280.0,
 62496.0,
 62496.0,
 11400.0,
 25536.0,
 17328.0,
 19152.0,
 369701.924,
 338504.0,
 416385.152,
 268150.344,
 262141.366,
 292411.14,
 269933.456,
 214323.762,
 218082.0,
 221160.0,
 201058.0,
 35568.0,
 31464.0,
 20064.0,
 38304.0,
 41040.0,
 55632.0,
 97128.0,
 14592.0,
 41040.0,
 16872.0,
 23256.0,
 30096.0,
 9576.0,
 17328.0,
 30096.0,
 21432.0,
 16872.0,
 3192.0,
 8664.0,
 17328.0,
 23256.0,
 12312.0,
 5016.0,
 17784.0,
 456.0,
 570.0,
 2280.0,
 764871.98,
 698934.0,
 1042065.26,
 1292213.18,
 975962.36,
 1381120.26,
 1153227.04,
 1220743.92,
 1443164.0,
 1004910.0,
 1420136.0,
 1172414.0,
 124944.0,
 51984.0,
 60192.0,
 40584.0,
 51984.0,
 119016.0,
 59280.0,
 86640.0,
 82080.0,
 56544.0,
 161880.0,
 97584.0,
 11590.0,
 51247.523,
 42947.845,
 29982.0,
 63688.0,
 44954.0,
 29982.0,
 126399.147,
 153368.0,
 158453.685,
 132030.671,
 106624.705,
 198722.757,
 160617.214,
 145357.853,
 186200.0,
 167618.0,
 179930.0,
 275006.0,
 25536.0,
 11400.0,
 29184.0,
 37392.0,
 45600.0,
 56088.0,
 87096.0,
 24168.0,
 22344.0,
 14136.0,
 20976.0,
 39672.0,
 8664.0,
 10488.0,
 20064.0,
 10944.0,
 23256.0,
 14592.0,
 14136.0,
 7296.0,
 34200.0,
 15048.0,
 10944.0,
 11438.0,
 1368.0,
 456.0,
 703283.86,
 770336.0,
 1165941.46,
 1567497.72,
 881420.26,
 1204541.48,
 965122.86,
 1340440.5,
 1567272.0,
 1130918.0,
 1571376.0,
 1528170.0,
 65664.0,
 47424.0,
 86184.0,
 51512.42,
 32376.0,
 87096.0,
 48336.0,
 55632.0,
 62928.0,
 45600.0,
 88920.0,
 62016.0,
 22108.529,
 16834.0,
 28157.222,
 37729.918,
 27691.921,
 184008.246,
 187036.0,
 243971.806,
 151009.364,
 153069.436,
 44688.0,
 26448.0,
 12312.0,
 27360.0,
 14592.0,
 456.0,
 456.0,
 874229.52,
 1038844.0,
 1580762.38,
 1507516.24,
 2077335.74,
 76608.0,
 59280.0,
 52440.0,
 42408.0,
 42408.0,
 12600.0,
 28224.0,
 19152.0,
 21168.0,
 408617.916,
 374136.0,
 460215.168,
 296376.696,
 289735.194,
 323191.26,
 298347.504,
 236884.158,
 241038.0,
 244440.0,
 222222.0,
 39312.0,
 34776.0,
 22176.0,
 42336.0,
 45360.0,
 61488.0,
 107352.0,
 16128.0,
 45360.0,
 18648.0,
 25704.0,
 33264.0,
 10584.0,
 19152.0,
 33264.0,
 23688.0,
 18648.0,
 3528.0,
 9576.0,
 19152.0,
 25704.0,
 13608.0,
 5544.0,
 19656.0,
 504.0,
 630.0,
 2520.0,
 845384.82,
 772506.0,
 1151756.34,
 1428235.62,
 1078695.24,
 1526501.34,
 1274619.36,
 1349243.28,
 1595076.0,
 1110690.0,
 1569624.0,
 1295826.0,
 138096.0,
 57456.0,
 66528.0,
 44856.0,
 57456.0,
 131544.0,
 65520.0,
 95760.0,
 90720.0,
 62496.0,
 178920.0,
 107856.0,
 12810.0,
 56641.999,
 47468.671,
 33138.0,
 70392.0,
 49686.0,
 33138.0,
 139704.321,
 169512.0,
 175133.02,
 145928.636,
 117848.358,
 219640.942,
 177524.289,
 160658.679,
 205800.0,
 185262.0,
 198870.0,
 303954.0,
 28224.0,
 12600.0,
 32256.0,
 41328.0,
 50400.0,
 61992.0,
 96264.0,
 26712.0,
 24696.0,
 15624.0,
 23184.0,
 43848.0,
 9576.0,
 11592.0,
 22176.0,
 12096.0,
 25704.0,
 16128.0,
 15624.0,
 8064.0,
 37800.0,
 16632.0,
 12096.0,
 12642.0,
 1512.0,
 504.0,
 777313.74,
 851424.0,
 1288672.14,
 1732497.48,
 974201.34,
 1331335.32,
 1066714.74,
 1481539.5,
 1732248.0,
 1249962.0,
 1736784.0,
 1689030.0,
 72576.0,
 52416.0,
 95256.0,
 56934.78,
 35784.0,
 96264.0,
 53424.0,
 61488.0,
 69552.0,
 50400.0,
 98280.0,
 68544.0,
 24435.743,
 18606.0,
 31121.14,
 41701.488,
 30606.861,
 203377.535,
 206724.0,
 269653.049,
 166905.087,
 169182.009,
 49392.0,
 29232.0,
 13608.0,
 30240.0,
 16128.0,
 504.0,
 504.0,
 966253.68,
 1148196.0,
 1747158.42,
 1666202.16,
 2296002.66,
 84672.0,
 65520.0,
 57960.0,
 46872.0,
 46872.0,
 7625.0,
 17080.0,
 11590.0,
 12810.0,
 247278.699,
 226411.667,
 278503.227,
 179354.945,
 175335.782,
 195582.013,
 180547.597,
 143352.516,
 145866.25,
 147925.0,
 134479.583,
 23790.0,
 21045.0,
 13420.0,
 25620.0,
 27450.0,
 37210.0,
 64965.0,
 9760.0,
 27450.0,
 11285.0,
 15555.0,
 20130.0,
 6405.0,
 11590.0,
 20130.0,
 14335.0,
 11285.0,
 2135.0,
 5795.0,
 11590.0,
 15555.0,
 8235.0,
 3355.0,
 11895.0,
 305.0,
 381.25,
 1525.0,
 511592.004,
 467488.75,
 696995.404,
 864309.254,
 652781.842,
 923775.613,
 771347.033,
 816506.35,
 965274.167,
 672143.75,
 949871.667,
 784180.417,
 83570.0,
 34770.0,
 40260.0,
 27145.0,
 34770.0,
 79605.0,
 39650.0,
 57950.0,
 54900.0,
 37820.0,
 108275.0,
 65270.0,
 7752.083,
 34277.4,
 28726.081,
 20053.75,
 42598.333,
 30067.917,
 20053.75,
 84543.289,
 102581.667,
 105983.276,
 88309.988,
 71316.963,
 132917.634,
 107430.373,
 97224.002,
 124541.667,
 112112.917,
 120347.917,
 183940.417,
 17080.0,
 7625.0,
 19520.0,
 25010.0,
 30500.0,
 37515.0,
 58255.0,
 16165.0,
 14945.0,
 9455.0,
 14030.0,
 26535.0,
 5795.0,
 7015.0,
 13420.0,
 7320.0,
 15555.0,
 9760.0,
 9455.0,
 4880.0,
 22875.0,
 10065.0,
 7320.0,
 7650.417,
 915.0,
 305.0,
 470398.196,
 515246.667,
 779851.196,
 1048435.975,
 589546.446,
 805669.192,
 645531.738,
 896566.563,
 1048285.0,
 756425.417,
 1051030.0,
 1022131.25,
 43920.0,
 31720.0,
 57645.0,
 34454.579,
 21655.0,
 58255.0,
 32330.0,
 37210.0,
 42090.0,
 30500.0,
 59475.0,
 41480.0,
 14787.503,
 11259.583,
 18833.23,
 25236.02,
 18522.009,
 123075.691,
 125100.833,
 163182.897,
 101004.07,
 102381.97,
 29890.0,
 17690.0,
 8235.0,
 18300.0,
 9760.0,
 305.0,
 305.0,
 584736.85,
 694840.833,
 1057308.171,
 1008316.783,
 1389446.054,
 51240.0,
 39650.0,
 35075.0,
 28365.0,
 28365.0,
 174000.0,
 389760.0,
 264480.0,
 292320.0,
 5642818.84,
 5166640.0,
 6355352.32,
 4092821.04,
 4001105.06,
 4463117.4,
 4120036.96,
 3271257.42,
 3328620.0,
 3375600.0,
 3068780.0,
 542880.0,
 480240.0,
 306240.0,
 584640.0,
 626400.0,
 849120.0,
 1482480.0,
 222720.0,
 626400.0,
 257520.0,
 354960.0,
 459360.0,
 146160.0,
 264480.0,
 459360.0,
 327120.0,
 257520.0,
 48720.0,
 132240.0,
 264480.0,
 354960.0,
 187920.0,
 76560.0,
 271440.0,
 6960.0,
 8700.0,
 34800.0,
 11674361.8,
 10667940.0,
 15905206.6,
 19723253.8,
 14896267.6,
 21080256.6,
 17601886.4,
 18632407.2,
 22027240.0,
 15338100.0,
 21675760.0,
 17894740.0,
 1907040.0,
 793440.0,
 918720.0,
 619440.0,
 793440.0,
 1816560.0,
 904800.0,
 1322400.0,
 1252800.0,
 863040.0,
 2470800.0,
 1489440.0,
 176900.0,
 782199.036,
 655519.747,
 457620.0,
 972080.0,
 686140.0,
 457620.0,
 1929250.145,
 2340880.0,
 2418503.613,
 2015204.971,
 1627429.711,
 3033136.821,
 2451525.896,
 2218619.855,
 2842000.0,
 2558380.0,
 2746300.0,
 4197460.0,
 389760.0,
 174000.0,
 445440.0,
 570720.0,
 696000.0,
 856080.0,
 1329360.0,
 368880.0,
 341040.0,
 215760.0,
 320160.0,
 605520.0,
 132240.0,
 160080.0,
 306240.0,
 167040.0,
 354960.0,
 222720.0,
 215760.0,
 111360.0,
 522000.0,
 229680.0,
 167040.0,
 174580.0,
 20880.0,
 6960.0,
 10734332.6,
 11757760.0,
 17795948.6,
 23924965.2,
 13453256.6,
 18385106.8,
 14730822.6,
 20459355.0,
 23921520.0,
 17261380.0,
 23984160.0,
 23324700.0,
 1002240.0,
 723840.0,
 1315440.0,
 786242.2,
 494160.0,
 1329360.0,
 737760.0,
 849120.0,
 960480.0,
 696000.0,
 1357200.0,
 946560.0,
 337445.972,
 256940.0,
 429768.124,
 575877.695,
 422666.17,
 2808546.907,
 2854760.0,
 3723780.203,
 2304879.769,
 2336322.977,
 682080.0,
 403680.0,
 187920.0,
 417600.0,
 222720.0,
 6960.0,
 6960.0,
 13343503.2,
 15856040.0,
 24127425.8,
 23009458.4,
 31706703.4,
 1169280.0,
 904800.0,
 800400.0,
 647280.0,
 647280.0,
 159600.0,
 357504.0,
 242592.0,
 268128.0,
 5175826.936,
 4739056.0,
 5829392.128,
 3754104.816,
 3669979.124,
 4093755.96,
 3779068.384,
 3000532.668,
 3053148.0,
 3096240.0,
 2814812.0,
 497952.0,
 440496.0,
 280896.0,
 536256.0,
 574560.0,
 778848.0,
 1359792.0,
 204288.0,
 574560.0,
 236208.0,
 325584.0,
 421344.0,
 134064.0,
 ...]

In [71]:
sheet3['Total Products Sold'] = Total_Products_Sold

In [72]:
sheet3

,Sku,Merged Sku_x,Month_x,Units,Volume,Total Products Sold
0,BLOT,BLOT,Jan,25.0,300.000,7500.00
1,BLOT,BLOT,Jan,25.0,672.000,16800.00
2,BLOT,BLOT,Jan,25.0,456.000,11400.00
3,BLOT,BLOT,Jan,25.0,504.000,12600.00
4,BLOT,BLOT,Jan,25.0,9728.998,243224.95
...,...,...,...,...,...,...
597814,MAGNOLIA-LIP-TRIO,MAGNOLIA-LIP-TRIO,May,305.0,170.000,51850.00
597815,MAGNOLIA-LIP-TRIO,MAGNOLIA-LIP-TRIO,May,305.0,69700.000,21258500.00
597816,MAGNOLIA-LIP-TRIO,MAGNOLIA-LIP-TRIO,May,305.0,25925.000,7907125.00
597817,PR-PP-NORM-OILY,PR-PP-NORM-OILY,Apr,2.0,112.000,224.00
597818,PEONY-LIP,PEONY-LIP,Apr,1.0,55.000,55.00

In [73]:
sheet3.isnull().sum()

Sku                    0
Merged Sku_x           0
Month_x                0
Units                  0
Volume                 0
Total Products Sold    0
dtype: int64

In [75]:
sheet3.to_excel('All_Channel_Tot_Sales_made_modified.xlsx', sheet_name='sheet13', index=False)